@bg-color-main: #FAFAFA;
@bg-color-block: rgba(255,255,255,0.95);
@bg-color-feature: #004B18;
@bg-color-feature-highlight: #008C47;
@bg-color-error: #D02626;

@text-color-main: #333333;
@text-color-light: #FAFAFA;
@text-color-link : #17882C;
@text-color-link-highlight: #23CD42;
@text-color-link-visited: #00510F;

@color-separator: rgba(0,0,0,0.15);
@color-translucid-dark: rgba(0,0,0,0.3);