/Projeto/SGPP-JSF_Crud_Bagaceiro_Funcionando/nbproject/private/
/Projeto/SGPP-JSF-final/nbproject/private/
/Projeto/SGPP-JSF-final/build/
/Projeto/SGPP-JSF-final/dist/
/Projeto/SGPP-JSF-mod/nbproject/private/
/Projeto/SGPP-JSF-mod/dist/
/Projeto/SGPP-JSF-mod/build/
/Projeto/SGPP-JSF-mod/build/web/WEB-INF/lib/eclipselink.jar
/Projeto/SGPP-JSF-mod/build/web/WEB-INF/lib/javax.faces.jar
/Projeto/SGPP-JSF-mod/nbproject/private/private.properties